importFrom("utils", "combn")
importFrom("ibd","design_to_N")
importFrom("ibd","N_to_design")
importFrom("ibd","ibdgen")
importFrom("MASS","ginv")
importFrom("gmp", "lcm.bigz")
importFrom("gmp", "gcd")
export("bslr","pbslr","bslr.gen","bslr.odd","bslr.even","pbslr.odd","pbslr.even")